<ion-header>
  <ion-toolbar>
    <ion-title>
      Pruebas con CameraPreview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button (click)="takePhoto()" expand="full" color="primary">TAKE PHOTO</ion-button>
<ion-button (click)="getImage()" expand="full" color="secondary">GET PHOTO FROM LIBRARY</ion-button>
<ion-button (click)="cropped()" expand="full" color="danger">CROP IMAGE</ion-button>
<ion-button (click)="sendPicture()" expand="full" color="danger">SEND IMAGE</ion-button>
<p aling="center"><img src="{{image}}"></p>

</ion-content>
